/* ============================================= */
/*               Colors                          */
/* ============================================= */

$color-primary: #58e1c1;
$color-primary-light: lighten($color-primary, 15%);
$color-secondary: #51ddfc;
$color-text: #777;
$color-shade: #ccc;
$white: #fff;



/* ============================================= */
/*               Media Query Breakpoints         */
/* ============================================= */

$break  : '(min-width: 768px)';